---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `assets/_sass`)
@import
  "normalize",
  "variables",
  "base",
  "layout",
  "media-queries",
  "syntax-highlighting"
;


@font-face {
font-family: "CrimsonText-Regular";
src: url("fonts/CrimsonText-Regular.eot");
src:
url("fonts/CrimsonText-Regular.woff") format("woff"),
url("fonts/CrimsonText-Regular.otf") format("opentype"),
url("fonts/CrimsonText-Regular.svg#filename") format("svg");
}
